<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      デビューへの道
    </div>
  </div>
  <div class="right-header">
    <div class="exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        DYPark
      </div>
      <div class="message-date">
        2020/10/10/(Sat) 18:11:11
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        DYPark
      </div>
      <div class="message-date">
        2020/10/10/(Sat) 18:14:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        ご飯食べましたか？
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>