    <div class="side-header">
      <div class="user-name">
        <a href="#">DYPark</a>
      </div>
      <div class="build-room">
        <a href="#">チャットを作成する</a>
      </div>
    </div>
    <div class="side-body">
      <div class="chat-room">
        <a href="#">練習室１</a>
      </div>
      <div class="chat-room">
        <a href="#">練習室２</a>
      </div>
    </div>