.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.build-room {
  font-size: 10px;
}
.build-room a{
  color: deepskyblue;
  padding: 14px;
  border: solid 1px lightblue;
  text-decoration: none;

}
.side-body {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.chat-room {
  padding: 20px 20px 40px 20px;
}
.chat-room a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
  height: 100vh;
}
.chat-header {
  height: 100px;
  padding: 0 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}